name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "feature/github_actions" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL : ${{ secrets.DATABASE_URL }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: pip install uv

      - name: Sync dependencies from lockfile
        run: uv sync --frozen

      - name: Run tests
        run: uv run pytest

